.container1 img{
    height: 600px;
    width: 100%;
}

.container1{
    margin: 0px 60px;
}
.container2{ 
    display: flex;
    justify-content: center;
    background-color: gray;
    margin: 0px 60px;
    color: darkred;
}
.footer1{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
}
.imageC1{
    width: 40px;
    margin-right: 5px;
}
.nav-color{
    color: red;
}

.blog-container{
    margin-right: 15px;
    text-decoration: none;
    color: darkred;
    font-weight: 700;
    border: 2px solid darkred;
    padding: 0px 5px;
    background-color:cadetblue;
    border-radius: 5px;
}
.blog-container:hover{
    margin-right: 15px;
    text-decoration: none;
    color: red;
    font-weight: 700;
    border: 2px solid red;
    padding: 0px 5px;
    background-color:aquamarine;
}
.blog-name{
    text-decoration: none;
    margin-right: 10px;
    font-weight: 700;
}
.cart-courses{
    border: 4px solid yellowgreen;
}
.left-nav-courses{
    border: 4px solid yellowgreen;
}
.display-flex h4{
    background-color:aquamarine;
    padding: 2px 9px;
    border-radius: 8px;
}
.display-flex img{
    height: 150px;
    width: 55%;
    border: 4px solid cornflowerblue;
    padding: 3px;
    border-radius: 10px;
}
.upper{
    width: 50%;
}
.lower{
    width: 50%;
}

.upperA{
    width: 50%;
}
.lowerB{
    width: 50%;
}
.upperA img{
    width: 30px;
}


.p-design{
    font-weight: 700;
    color: darkgreen;
    background-color:bisque;
    
}




.review-img{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}
.pView img{
    height: 100px;
    width: 100px;
}
.Review{
    margin-top: 80px;
    background-color: bisque;
}
.service-container{
    display: grid;
    gap: 15px;
    margin-bottom: 40px;
    margin: 40px 60px;
}
.footer-footer{
    margin-bottom: 60px;
}
.display-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;   
    gap: 0px 40px;    
    background-color: aliceblue; 
}
.review-detail{
    background-color: aliceblue;
    padding: 10px; 
}

.HomeSection01{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
}
.HomeSection01 img{
    height: 270px;
    width: 600px;
    border: 4px solid darkgreen;
    padding: 5px;
}
.review-container{
    display: flex;
    justify-content: space-around;
    margin: 15px;
    background-color:antiquewhite;
    padding: 7px 20px;
}
.do{
    display: flex;
    border: 2px solid darkgreen;
    padding: 5px;
    margin: 5px;
}
@media only screen and (min-width: 516px) and (max-width:1150px) {


    .display-flex{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px 10px;
    }
    
    .HomeSection01{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 10px;
    }
    .HomeSection01 img{
        height: 250px;
        width: 514px;
        border: 4px solid darkgreen;
        padding: 5px;
    }
    .container1 img{
        height: 400px;
        width: 100%;
    }
    .container1{
        margin: 0px 25px;
    }
    .review-container{
        display: flex;
        justify-content: space-around;
        margin: 10px;
        background-color:antiquewhite;
        padding: 7px 10px;
    }
    
}
@media only screen and (max-width: 516px){
    .display-flex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px 10px;
    }
    .review-container{
        display: grid;
        justify-content: space-around;
        margin: 10px;
        background-color:antiquewhite;
        padding: 7px 10px;
    }
    .HomeSection01{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px 10px;
    }
    .HomeSection01 img{
        height: 150px;
        width: 250px;
        border: 4px solid darkgreen;
        padding: 5px;
    }
    .container1 img{
        height: 200px;
        width: 100%;
    }
    .container1{
        margin: 0px 10px;
    }
}
.fourZ img{
    height: 500px;

}
.single-course-container{
    margin: 40px 250px;
    
}
.flick1{
    background-color: red;
    color: black;
    margin-bottom: 15px;
    border: 7px solid green;
    border-radius: 10px;
    
}
.miya{
    border: 4px solid black;
    margin: 10px;
    padding: 5px;
}
.miya1{
    height: 40px;
}
.write{
    font-weight: 800;
    font-size: large;
    background-color:cadetblue;
    display: flex;
    justify-content: center;
}
.done{
    border: 2px solid black;
    margin: 16px;
    padding: 3px;
}
.okkk{
    font-weight: 700;
}
.single-course-container img{
    width: 45%;
    height: 300px;
    margin: 20px;
    border: 4px solid cornflowerblue;
    border-radius: 10px;
    padding: 10px;
}
.footer-container{
    display: grid;
    justify-content: center;
    background-color: black;
    color: white;
}

@media only screen and (min-width: 516px) and (max-width:1150px) {

    .single-course-container img{
        width: 80%;
        height: 300px;
        margin: 20px;
        border: 4px solid cornflowerblue;
        border-radius: 10px;
        padding: 10px;
    }
    .single-course-container{
        margin: 30px 100px;
        
    }
    
}
@media only screen and (max-width: 516px){
    .single-course-container img{
        width: 90%;
        height: 250px;
        margin: 20px;
        border: 4px solid cornflowerblue;
        border-radius: 10px;
        padding: 7px;
    }
    .single-course-container{
        margin: 30px 10px;   
    }
}
.btn-a{
    text-decoration: none;
    color: brown;
    font-weight: 600;
}
.loader-r{
    height: 400px;
}
.btn-pdf{
    border: 2px solid red;
    margin: 4px 0px;
    border-radius: 7px;
}
.btn-pdf:hover{
    background-color:aqua;
    border: 2px solid darkred;
}

.write1{
    font-weight: 800;
    font-size: large;
    background-color:cadetblue;
    display: flex;
    justify-content: space-around;
}

.conatiner-blog{
    margin: 20px 40px;
}
.que{
    color: red;
}
.ans{
    font-weight: bold;
    color: green;
}
.bottom{
    margin-bottom: 25px;
    border: 3px solid gray;
    padding: 0 10px;
}
